/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight);
  background-image: var(--body-patern);
}

.header {
  margin: 100px 0px 105px 0px;
  border: 2px solid #000;
  width: 696px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-padding)
}

.header__logo {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 65px;
  text-transform: uppercase;
  color: #000;
}

.header__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
  color: #000;
}

.main {
  width: 696px;

}

.card__title {
  font-family: var(--main-font);
  font-weight: var(--main-card-font-weight);
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
  height: 31px;
  border: 2px solid #000;
}

.card__img__conteiner {
  border: 2px solid #000;
  width: 696px;
  height: 696px;
}

.card__label {
  position: absolute;
	top: 25px;
	right: 25px;
	z-index: 2;
	opacity: 0.6;
	text-align: end;
	font-family: var(--accent-font);
	font-size: 14px;
	-webkit-text-stroke: 1px white;
	 mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__description {
  border: 2px solid #000;
  width: 696px;
  height: 224px;
}

.card__text {
  padding: 25px;
  width: 696px;
  height: 224px;
}

.card__controls {

}

.card__icon-button {

}

.button {

}

.card__like-button {

}

.button__text {

}

.like-icon {

}

.is-liked {

}

.card__image1 {
	
}

.card__image2 {
	
}

.card__image3 {
	
}

.card__image4 {
	
}

.card__image5 {
	
}

.card__image6 {
	
}

.card__image7 {
	
}

.card__image8 {
	
}
