/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight);
  background-image: var(--body-patern);
  color: var(--accent-color);
	background-size: cover;
	background-attachment: fixed;
}

.header {
  background-color: var(--bg-color);
  margin: 100px 0px 105px 0px;
  border: 2px solid #000;
  width: 696px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-padding) 0;
}

.header__logo {
  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  font-size: var(--title-size);
}

.header__title {
  margin-top: 20px;
  font-size: var(--header-text-size);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 23px;
  color: #000;
}

.main {
  background-color: var(--bg-color);
  width: var(--container-width);
}

.main__card {
	border: 1px solid black;
	background-color: var(--bg-color);
}

.main__card:not(:first-child) {
	margin-block-start: 50px;
}

.card__title {
  padding: 3px 0px 3px 10px;
  font-family: var(--main-font);
  font-weight: var(--main-card-font-weight);
  font-size: 18px;
  color: #000;
  height: 31px;
  border: 2px solid #000;
}

.card__img__conteiner {
  position: relative;
	display: flex;
	border: 2px solid black;
}

.card__label {
  position: absolute;
	top: 25px;
	right: 25px;
	z-index: 2;
	opacity: 0.4;
	text-align: end;
	font-family: var(--accent-font);
	font-size: 14px;
	-webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__description {
	border: 2px solid black;
}

.card__text {
  margin: 25px 25px;
  font-family: var(--font-family);
  font-weight: var(--main-card-font-weight);
  font-size: 18px;
  line-height: 117%;
  color: #000;
}

.card__controls {

}

.card__icon-button {

}

.button {

}

.card__like-button {

}

.button__text {

}

.like-icon {

}

.is-liked {

}

.card__image1 {
	
}

.card__image2 {
	
}

.card__image3 {
	
}

.card__image4 {
	
}

.card__image5 {
	
}

.card__image6 {
	
}

.card__image7 {
	
}

.card__image8 {
	
}

.dialog {

}

.dialog__content {
  padding: 15px 20px;
  width: 335px;
  height: 55px;
}

.save__button {
  padding: 15px 20px;
  width: 335px;
  height: 55px;
  }
